@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}
body{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #1D1F20 !important;
	scroll-behavior: smooth;
	display: block;
}
a{
	text-decoration: none !important;
}
a:hover{
	text-decoration: none !important;
}
#mocha-error{
	display: none;
}
.color-log{
	   background: #EBEAF0  !important;
}
.over-hh{
	overflow: hidden;
}
#panel{
	background-color: #1D1F20 !important;
	/* background: url('../img/beautiful-woman-fashion-fashion-model-1689718 bg.jpg') no-repeat fixed; */
	background-position: center;
	background-size: cover;
	transition: all .5s;
}


/*header*/
.menu .menu-header img{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 10px;
}
.menu a:hover{
	color: #ffffff;
}
.slideout-menu{
	overflow-y: auto !important;
}
.panel-header button img{
	width: 30px;
	height: 30px;
}
.panel-header h4 img{
	width: 30px;
	height: auto;
	float: right;
	right: 10px;
	margin-top: -7px;
	position: absolute;
}
.panel-header h4{
	color: #ffffff;
	margin: 19.5px auto;
	font-size: 14px;
	text-align: center;
	font-family: 'Signika Negative', sans-serif;
}
.panel-header h4 span{
	color: #82b1ff;
	font-size: 21px;
	margin-top: -3px;
}
button:focus{
	outline: none !important;
}

.main{
	position: relative;
	height: 100vh;
	margin-top: 70px;
}
.menu-section .menu-section-list li a img{
	width: 30px;
	height: auto;
	padding-right: 10px;
	padding-bottom: 2px;
}
.menu-section .menu-section-list li a:hover{
	color: #ffffff;
	background-color: #1D1F20;
	transition: 0.5s;
	padding-left: 25px;
}
.menu-section .menu-section-list li a:active{
	background-color: #1D1F20;
	transition: 0.5s;
}
/* 
@font-face {
  font-family: my-web;
  src: url("../font/twister.TTF");
} */



/*-------------------
		Post
--------------------*/

.post{
	padding:0px 0px !important;
	height: 103px;
	display: inline;
	/* position: relative; */

}

.post-box{
	overflow: hidden;
	height: 90px;
	background-color: #111111;
}
.post .post-box .col-5 img{
	width: 100%;
	height: 100%;
}
.post .post-box h6{
	color: #ffffff;
	text-align: left;
	font-size: 13px;
/* 	margin-top: 4px; */
	align-items: center;
}
.p-box-2{
	display: flex;
    align-items: center;
    height: 90px;
}



.post-data{
   /*  display:none; */
   /*  position: relative; */
    height: auto;
    background-color: #1E293A;
    z-index: 1000;
    padding-bottom: 15px;
    margin-bottom: 10px;
    width: 95%;
    margin: 0px auto !important;
}

.button{
	padding:3px 10px !important;
	background: transparent;
	/* position: relative; */
}
.post-data .mini-box a span{
	background-color: rgba(255, 255, 255, 0.7);
	padding:9px 12px 7px 12px;
}
.post-data .mini-box a{
	position: absolute;
	/* left: 30%;
	top: 10%; */
	line-height: 40px;
	width: 100%;
	top: 8.8%;
	color: red;
	/* font-weight: bold; */
	 font-family: 'Signika Negative', sans-serif;
}
.post-data .mini-box img{
	/* position: fixed; */
	width: 100%;
	height: 200px;
}
.post-data .mini-box h4{
	color: #82b1ff;
	font-size: 17px;
	text-align: center;
	padding-left: 70px;
}
.pth4{
	margin-top: 9px;
}
.copy{
	border-radius: 5px;
	background-color: rgba(1, 1, 1, 0.4);
	width: 85px;
	height: 28px;
	color: #ffffff;
	display: block;
	float: right;
	margin-right: 4px;
	margin-top: -3px;
	font-size: 12px;
}
.copy img{
	width: 19px !important;
	height: 20px !important;
}
.download-box{
	width: 100%;
	height: 38px;
}

.download-box h6{
	font-size: 13px;
	color: #ffffff;
	text-align: center;

}

.download-box span a{
	margin-left: 40px;
	padding: 7px 14px;
	border-radius: 5px;
	background-color: rgba(1, 1, 1, 0.4);
	position: relative !important;
	color: #82b1ff !important;
}
.download-box span a img{
	width: 20px !important;
	height: 23px !important;
	padding-right: 5px;
	margin-top: -3px;
}


/*Login Box*/
.login-box h4{
	color: #111111;
    margin: auto;
    font-size: 20px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    line-height: 20;
}
.login-box h4 span{
	 color: #82b1ff;
    font-size: 21px;
    margin-top: -3px;
}


.login-box .mini-box{
	-webkit-box-shadow: 0px -13px 32px 22px rgba(0,0,0,0.28);
-moz-box-shadow: 0px -13px 32px 22px rgba(0,0,0,0.28);
box-shadow: 0px -13px 32px 22px rgba(0,0,0,0.28);

	background-color: #27292B;
	position: fixed;
	left: 0;
	bottom: 0;
}

.pt-my{
	padding-top: 2rem;
}

.login-box input {
  background-color: #1D1F20;
  border-radius: 0px;
  height:35px;
  padding: 5px 11px !important;
  width: 100%;
  color: #EBEAF0 ;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 97.3% 9px;
}
.bg-mail{
	background-image: url('../img/mail.svg');
}
.bg-pass{
	background-image: url('../img/lock.svg');
}
.bg-user{
	background-image: url('../img/user.svg');
}
.login-box .control-group input:focus {
  background-color: #212121;
  outline: none !important;
  box-shadow: none !important;
  color: #EBEAF0 ;
}
.login-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #EBEAF0 ;
  font-size: 14px;
}
.login-box input::-moz-placeholder { /* Firefox 19+ */
  color: #EBEAF0 ;
  font-size: 14px;
}
.login-box input:-ms-input-placeholder { /* IE 10+ */
  color: #EBEAF0 ;
  font-size: 14px;
}
.login-box input:-moz-placeholder { /* Firefox 18- */
  color: #EBEAF0 ;
  font-size: 14px;
}

.login-box .mini-box a{
	text-decoration: none;
	color: #EBEAF0;
	font-size: 12.5px;
	margin-top: 6px;
}

.login-box .control-group button{
	border-radius: 0px  !important;
	border: 0px  !important;
	background-color: #82b1ff !important;
	outline: none !important;
	box-shadow: none !important;
}
.login-box .mini-box h6{
	text-align: center;
	color: #ffffff;
	font-size: 10px;
	line-height: 2;
	padding-top: 10px;
}
.login-box .mini-box span a{
	color: #82b1ff;
}